@define-color bg_hover rgba(200, 200, 200, 0.3);
@define-color content_main white;
@define-color content_inactive rgba(255, 255, 255, 0.25);

* {
  font-size: 15px;
}

/* reset default settings */
button {
  all: unset;
}

.bar {
  background-color: rgba(30, 30, 46, 0.75);
  color: #cdd6f4;
}

.launcher {
  background-color: transparent;
  margin-bottom: 2px;
  margin-top: 2px;
}

.launcher label {
	font-family: "JetBrainsMono Nerd Font";
  font-size: 20px;
	padding-left: 8px;
	padding-right: 15px;
}

.launcher:hover {
  background: @bg_hover;
	color: @content_main;
}

.workspaces button {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: @content_inactive;
}

.workspaces .active {
  background:  @bg_hover;
  color: @content_main;
}

.workspaces button:hover {
  background:  @bg_hover;
	color: @content_main;
}


window.notification-popups box.notifications {
    padding: .5em;
}

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

.volume {
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid @wm_borders_edge;
    background-color: @theme_bg_color;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: @theme_fg_color;
    font-size: 1.4em;
}

.body {
    color: @theme_unfocused_fg_color;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}