# Do not submit file containing file variables marked as Safe: https://www.gnu.org/software/emacs/manual/html_node/emacs/Safe-File-Variables.html#Safe-File-Variables
# Opt for whitelisting on new setups.
emacs/.config/doom/custom.el
