mouse_mode true
copy_on_select true
mirror_session false

// theme_dir ""
// layout_dir ""

default_layout "custom"
pane_frames false

theme "nord"

keybinds {
  shared {
    bind "Alt t" { NewTab; }
    bind "Alt w" { CloseTab; }
    bind "Alt q" { GoToPreviousTab; }
    bind "Alt e" { GoToNextTab; }

    bind "Alt 1" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }
    bind "Alt 5" { GoToTab 5; }
    bind "Alt 6" { GoToTab 6; }
    bind "Alt 7" { GoToTab 7; }
    bind "Alt 8" { GoToTab 8; }
    bind "Alt 9" { GoToTab 9; }

    bind "Alt l" { NextSwapLayout; }

    bind "Alt f" { ToggleFocusFullscreen; }
  }
}
