@define-color text white;

* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 15px;
    min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#toggles,
#clock,
#custom-os {
  padding: 0.4rem 0.7rem;
  border-radius: 6px;
  background: rgba(30, 30, 46, 0.75);
}

#power-profiles-daemon,
#pulseaudio,
#network,
#keyboard,
#battery
{
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

#keyboard {
  margin-left: 0px;
}
#battery {
  margin-right: 0px;
}
#power-profiles-daemon {
  margin-left: -5px;
  margin-right: -5px;
}